In [23]:
# Import the training dataset
import pandas as pd
data = pd.read_csv("titanic/train.csv")

                                     Name   Age  Survived
630  Barkworth, Mr. Algernon Henry Wilson  80.0         1

In [40]:
# Exercise 1: Find the name, age, sex, survival status of the oldest passenger which survived
data.loc[(data['Age'] == data['Age'].max()) & (data['Survived'] == 1), ['Name', 'Age', 'Sex',  'Survived']]

                                     Name   Age   Sex  Survived
630  Barkworth, Mr. Algernon Henry Wilson  80.0  male         1

In [61]:
# Exercise 2: Find the location where most passengers embarked (S = Southhampton, C = Cherbourg, Q = Queesntown
southampton_count = data[data['Embarked'] == 'S'].shape[0]  # Gives the number of rows [0] / columns [1] of the dataset
# southampton_count = data[data['Embarked'] == 'S'].index.size  # Gives the number of rows 
southampton_count

644